#currentColor{
    height : 30px;
    position : relative;
    width : 50px;
    top: 3%;
}

#color-picker{
    width : 185px;
    height : 150px;
    position : relative;
    right : 13%;
    float : right;
    top: 3%;
    border-style : solid;
}

#myCanvas{
    width : 70% ;
    float : left;
    position : relative;
    left: 3%;
    top: 3%;
    
   
}


.slider{
    float : right;
    width : 30%;
    position : relative;
    top: 11%;
    right : 12%;
}

.tool {
    width : 25%;
    float : right;
    position : relative;
    top : 13%;
    right : 3%;
}

.text_property{
    width : 25%;
    float : right;
    position : relative;
    top : 4%;
}


#currentColor{
    padding : 5px;
    float: left;
}

body{
    background-image : url(image/bg.jpg) ;
}

#btn{
    padding: 2px,2px,2px,3px;
    border: none;
    background: none;

}

h1{
    font-family: 'Londrina Solid', cursive;
    font-size: 70px;
    text-align: center;
}

.header{
    border-bottom: 5px solid rgb(105,45,6);
    height: 12%;
}

#selectFile{
    display: none;
}